:root {
  /* Colors */
  --black: #000;
  --white: #fff;
  --primary: #f50;
  --secondary: #222;

  --card-background: #111;
  --background: var(--black);

  --text: #d1d1d1;
  --title: var(--text);

  --button-primary: var(--primary);
  --button-secondary: var(--secondary);

  --border-primary: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-card {
  background-color: var(--card-background);
}
